@media screen and (min-width: 1011px) {

  #content {
    width:750px !important;
  }


  .button_centre{
    display: grid !important;
  }
}
.indent {
  padding-left:40px;
}

tr > td {
    padding: 0.1em !important;
}

label p {
  display: inherit !important;
}

.form-item {
    margin: 0 0 1.0rem !important;
}

select {
  width:auto !important;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  -webkit-box-sizing:content-box;
}
input[disabled] {
  height:auto !important;
}

.time_schedule {
  background-color: #e9ebeb;
  border: 1px black solid;
  padding: 0.5em;
}

.button_background {
  background-color: #f9f9f9;
  padding: 1em 1em 0em 1em;
  border: 0.1em #e9e9e9 solid;
}

.form-item-monday-checkbox, .form-item-tuesday-checkbox, .form-item-wednesday-checkbox, .form-item-thursday-checkbox, .form-item-friday-checkbox, .form-item-saturday-checkbox, .form-item-col1-checkbox, .form-item-col2-checkbox, .form-item-col3-checkbox, .form-item-col4-checkbox, .form-item-col5-checkbox, .form-item-col6-checkbox {
  display: none !important;
}

#monday_checkbox, #tuesday_checkbox, #wednesday_checkbox, #thursday_checkbox, #friday_checkbox, #saturday_checkbox, #col1_checkbox, #col2_checkbox, #col3_checkbox, #col4_checkbox, #col5_checkbox, #col6_checkbox {
  display: none;
}

@media screen and (max-width: 768px) {

  .ctr_submit_button {
    text-align: center !important;
  }

}

.pick {
  background-color: #fafafa !important;
}

.button_centre{
  float: none;
}

.day {
  border-color: black !important;
  background-color: #757575 !important;
  color: white !important;
  font-style: initial !important;
}

.subhead {
  background-color: #A2A2A2 !important;
  color: white !important;
  font-style: initial !important;
}

@media screen and (max-width: 1010px) {

  #go_left {
    float: left;
    display: block;
    width: 40%;
  }

  #go_right {
    float: right;
    display: block;
    width: 40%;
  }

  #prev_week, #next_week, #first_day {
    display: none !important;
  }

  #go_regular_left, #go_regular_right {
    display: none !important;
  }

  .entertour {
    width: 100% !important;
  }

  .catholder {
    width: 100% !important;
  }

  #ctr_calendar {
    width: 100% !important;
  }

  .col_1, .col_2, .col_4, .col_5, .col_6 {
    display: none;
  }
}

@media screen and (min-width: 1011px) {

  #go_regular_left {
    float: left;
    display: block;
  }

  #go_regular_right {
    float: right;
    display: block;
  }

  #prev_week, #first_day, #first_day {
    float: none !important;
    display: inline-block !important;
  }

  #next_week {
    float: right !important;
  }

  #prev_week, #next_week, #first_day {
    width: 40%;
  }

  #go_left, #go_right {
    display: none !important;
    width: 40%;
  }

  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6 {
    display: table-cell !important;
    background-color: #fafafa;
  }


}

.view_button {
  border: none !important;
  background-color: #A2A2A2 !important;
  padding: 0.5em 1em 0.5em 1em !important;
  color: white !important;
  font-size: 1em !important;
  width: inherit !important;
  float: none !important;
}

.picked {
  background-color: #FFD54F !important;
}

.enabled_buttons {
  float: right !important;
  border: none !important;
  background-color: #FFD54F !important;
  padding: 0.5em 1em 0.5em 1em !important;
  color: black !important;
  font-size: 1em !important;
  width: inherit !important;
}

.disabled_buttons {
  float: right !important;
  border: none !important;
  background-color: #f44336 !important;
  padding: 0.5em 1em 0.5em 1em !important;
  color: white !important;
  font-size: 1em !important;
  width: inherit !important;
}

.added_buttons {
  float: right !important;
  border: none !important;
  background-color: #4CAF50 !important;
  padding: 0.5em 1em 0.5em 1em !important;
  color: white !important;
  font-size: 1em !important;
  width: inherit !important;
}

.tour_checkboxes {
  display: none;
}

#schedule {
  text-align: center;
}

table th {
  text-align: center;
  border-color: #757577;
}

table td {
  text-align: center;
  border-color: #757577;
  background-color: #fafafa;
}

.form-button {
	margin:30px 0;
	height:30px;
	width:250px;
	font-size:1em;
	border-radius:0;
	border:1px solid #000;
	background:#000;
	color:#000;
	text-transform:uppercase;
	cursor:pointer;
}
.topform {
	width:720px;
}
/* Delete this one */
.entertour {
	width:280px;
	float:left;
}
.entertourmove {
	width:280px;
	margin-top:50px;
	float:left;
	padding-right:350px;
}
.entertourcomment {
	float:left;
	width:600px;
	margin-bottom:20px;
}
.catholder {
	width:750px;
	height:230px;
	margin-top:10px;
}
div#res-tours {
	float:left;
	width:100%;
}
div#faculties {
	display:inline-block;
	width:50%;
}
input#edit-tour-date{
	width:200px;
}
#datetable {
	width:100%;
	height:610px;
	white-space:nowrap;
}
.datetable_scroll_wrapper {
	overflow-x:scroll;
	display:inline-block;
	width:445px;
	vertical-align:bottom;
}
#datetable_grid{
	white-space:nowrap;
	display:inline-block;
	height: 600px;
}
.tourdate-available{
	color:#3ADF00;
	background-color:#3ADF00;
}
.tourdate-unavailable{
	color:#FF0000;
	background-color:#FF0000;
}
div#tour_date_time_form{
	display: inline;
}
.datetable_cell{
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	width:100px;
	text-align:center;

}
#datetable_timesColumn {
	width:55px;
	border-left:1px solid #666;
	display: inline-block;
  	vertical-align: top;
}
#datetable_timesColumn .header_cell {
	width:54px;
}
.time_cell{
	height:59px;
	line-height:59px;
	background:#eee;
	width:54px;
}
.datetable_col{
	height:597px;
	display:inline-block;
	vertical-align:bottom;
}
.header_cell{
	height:56px;
	line-height:22px;
	border-top:1px solid #666;
	background:#eee;
	white-space:normal;
}

.tour_interests h2 {
	margin-top:30px;
}
#tour_date_time_form h2 {
	margin-top:30px;
}
.form-item-tour-date-date label {
	display:none;
}
.form-item-tour-date-date .description {
	display:none;
}
#submit_button {
	margin:30px 0;
	height:30px;
	width:250px;
	font-size:1em;
	border-radius:0;
	border:1px solid #000;
	background:#000;
	color:#FCD450;
	text-transform:uppercase;
	cursor:pointer;
}
.clearFloat {
	clear:both;
}

.bullet {
  padding-right: 30px;
}
.bullet-legend{
  float: none;
  text-align: center;
}
